<!doctype HTML>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<link type="text/css" rel="stylesheet" href="{% static 'home/css/style.css' %}" />
</head>
<body>
<header>
	<div id="header-content-wrapper">
		<div id="left">
			{% block left-link %}<a href="/my-account/sign-up/">sign up</a>{% endblock %}
		</div>
		<div id="mid">
			<div>
				<h3>{% block mid-link %}<a href="#">cap mosphere</a>{% endblock %}</h3>
			</div>
			<div>
				your capetown atmosphere wizard
			</div>
		</div>
		<div id="right">
			{% block right-link %}<a href="/my-account/login/">log in</a>{% endblock %}
		</div>
		<div style="clear:both;"></div>
	</div>
</header>


<div class="main-content">
	{% block main-content %}
	{% endblock %}
</div>
</body>
</html>