{% extends "home/base_template.html" %}
{% block title %}cap mosphere{% endblock %}

{% block main-content %}
	welcome to cap mosphere<br/><br/>
	this is a platform that allows you to browse through CPT's weather forecast.
	<br/><br/>
	log in to see what's up, It's always good to know when there's good vibes in the air.
{% endblock %}