/*
-------------------------------------------------
Reset HTML Elements
-------------------------------------------------
*/
html{
   overflow-y:scroll;
}
*{
	padding:0px;
	margin:0px;
}
body{
	min-width:320px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
}
a{
	text-decoration:none;
	color:#3d6364;
}
a:hover,
a:focus{
	color:#0a6766;
}
/*
-------------------------------------------------
Header Section styling
-------------------------------------------------
*/
header{
	height:80px;
	width:100%;
	background-color:#212121;
	background-image:url(../Images/cubes.png);
	
	> #header-content-wrapper{
		width:720px;
		height:80px;
		margin:auto;
		
		> div{
			float:left;
		}
		
		> #left,#right{
			width:100px;
			height:80px;
			
			> a{
				display:block;
				height:inherit;
				height:40px;
				text-align:center;
				line-height:40px;
				margin-top:20px;
				border-radius:0.35em;
				font-weight:bold;
				cursor: pointer;
			}
			a.active{
				cursor: default;
			}
		}
		> #left{
			> a{
				background:#0a6766;
				color:#fafafa;
				cursor: pointer;
			}
			> a:hover,
			a.active{
				background:#3d6364;
			}
		}
		> #right{
			-webkit-box-shadow:0px 0px 10px #c1c1c1;
			-moz-box-shadow:0px 0px 10px #c1c1c1;
			box-shadow:0px 0px 10px #c1c1c1;
			
			> a{
				background: #fafafa;
				color:#0a6766;
			}
			> a:hover,
			a.active{
				color:#808080;
			}
		}
		> #mid{
			width:520px;
			height:80px;
			
			> div{
				height:40px;
				line-height:40px;
				text-align:center;
				color:#494949;
				
				> h3{
					font-size: 28px;
					
					a{
						color:#494949;
						cursor:pointer;
					}
				}
			}
		}
	}	
}

/*
-------------------------------------------------
Main Section styling
-------------------------------------------------
*/
.main-content{
	width:440px;
	margin: 40px auto 40px auto;
	color:#6f6867;
	padding:40px;
	border-radius:0.35em;
	-webkit-box-shadow:0px 0px 10px #c1c1c1;
	-moz-box-shadow:0px 0px 10px #c1c1c1;
	box-shadow:0px 0px 10px #c1c1c1;
	
	>#preloader{
		width:120px;
		margin:auto;
	}
	
	>center span{
		color:#808080;
	}
	a{
		display:block;
		width:100%;
		text-align:right;
		font-weight:bold;
	}
	#pagination-div{
		width:100%;
		text-align:right;
		margin-bottom:-40px;
		
		>a{
			color:#0a6766;
		}
		>a:hover{
			font-weight:bold;
			color:#3d6364;
			text-decoration:underline;
		}
		>a.active{
			font-size:18px;
			color:#808080;	
			cursor:default;
		}
		>a.active:hover{
			text-decoration:none;	
		}
	}
	>h3{
		margin-top:40px;
	}
	>table{
		width:100%;
		padding:0px 1% 0px 1%;
		border-radius:0.35em;
		
		#HeaderColumn td{
			color:#808080;
			font-family:"Trebuchet MS", Helvetica, sans-serif;
			font-weight:bold;
		}
		td{
			font-family:serif;
			padding:1%;
			border-bottom:1px solid #c1c1c1;	
		}
		td.mid{
			background:#eef7ee;
			border-radius:0.35em;
		}
		td.first-column{
			padding-right:5%;
		}		
	}
}
/*
-------------------------------------------------
form styling
-------------------------------------------------
*/
form{
	width:440px;
	
	>div.first{
		margin-top:0px;
	}
	>div{
		margin-top:40px;
		
		>input{
			margin:auto;
			border:none;
			outline:none;
			border-radius:0.35em;
		}
		
		>label{
			display:block;
			float:left;
			width:80px;
			line-height:30px;
			overflow:hidden;
		}
		>label.long{
			line-height:normal;
		}
		>input[type="password"],
		>input[type="email"]{
			width:200px - 5px;
			height:30px;
			line-height:30px;
			padding-left:5px;
			border:1px solid #c1c1c1; 
		}
		
		>input[type="password"]:focus,
		>input[type="email"]:focus{
			border:1px solid #5a7d7e;
			background:none;
		}
		
		>input[type="submit"]{
			width:200px;
			height:40px;
			line-height:40px;
			background:#0a6766;
			margin-left:80px;
			cursor:pointer;
			color:#fafafa;
			font-size:16px;
			font-family:"Trebuchet MS", Helvetica, sans-serif;
		}
		
		>input[type="submit"]:hover,
		>input[type="submit"]:focus{
			background:#3d6364;
		}		
	}
	.error-message{
		display:block;
		color:#a8554a;
		
		>ul{
			list-style:none;
		}
	}
}
