/*
-------------------------------------------------
Reset HTML Elements
-------------------------------------------------
*/
html {
  overflow-y: scroll; }

* {
  padding: 0px;
  margin: 0px; }

body {
  min-width: 320px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px; }

a {
  text-decoration: none;
  color: #3d6364; }

a:hover,
a:focus {
  color: #0a6766; }

/*
-------------------------------------------------
Header Section styling
-------------------------------------------------
*/
header {
  height: 80px;
  width: 100%;
  background-color: #212121;
  background-image: url(../Images/cubes.png); }
  header > #header-content-wrapper {
    width: 720px;
    height: 80px;
    margin: auto; }
    header > #header-content-wrapper > div {
      float: left; }
    header > #header-content-wrapper > #left, header > #header-content-wrapper #right {
      width: 100px;
      height: 80px; }
      header > #header-content-wrapper > #left > a, header > #header-content-wrapper #right > a {
        display: block;
        height: inherit;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin-top: 20px;
        border-radius: 0.35em;
        font-weight: bold;
        cursor: pointer; }
      header > #header-content-wrapper > #left a.active, header > #header-content-wrapper #right a.active {
        cursor: default; }
    header > #header-content-wrapper > #left > a {
      background: #0a6766;
      color: #fafafa;
      cursor: pointer; }
    header > #header-content-wrapper > #left > a:hover,
    header > #header-content-wrapper > #left a.active {
      background: #3d6364; }
    header > #header-content-wrapper > #right {
      -webkit-box-shadow: 0px 0px 10px #c1c1c1;
      -moz-box-shadow: 0px 0px 10px #c1c1c1;
      box-shadow: 0px 0px 10px #c1c1c1; }
      header > #header-content-wrapper > #right > a {
        background: #fafafa;
        color: #0a6766; }
      header > #header-content-wrapper > #right > a:hover,
      header > #header-content-wrapper > #right a.active {
        color: #808080; }
    header > #header-content-wrapper > #mid {
      width: 520px;
      height: 80px; }
      header > #header-content-wrapper > #mid > div {
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #494949; }
        header > #header-content-wrapper > #mid > div > h3 {
          font-size: 28px; }
          header > #header-content-wrapper > #mid > div > h3 a {
            color: #494949;
            cursor: pointer; }

/*
-------------------------------------------------
Main Section styling
-------------------------------------------------
*/
.main-content {
  width: 440px;
  margin: 40px auto 40px auto;
  color: #6f6867;
  padding: 40px;
  border-radius: 0.35em;
  -webkit-box-shadow: 0px 0px 10px #c1c1c1;
  -moz-box-shadow: 0px 0px 10px #c1c1c1;
  box-shadow: 0px 0px 10px #c1c1c1; }
  .main-content > #preloader {
    width: 120px;
    margin: auto; }
  .main-content > center span {
    color: #808080; }
  .main-content a {
    display: block;
    width: 100%;
    text-align: right;
    font-weight: bold; }
  .main-content #pagination-div {
    width: 100%;
    text-align: right;
    margin-bottom: -40px; }
    .main-content #pagination-div > a {
      color: #0a6766; }
    .main-content #pagination-div > a:hover {
      font-weight: bold;
      color: #3d6364;
      text-decoration: underline; }
    .main-content #pagination-div > a.active {
      font-size: 18px;
      color: #808080;
      cursor: default; }
    .main-content #pagination-div > a.active:hover {
      text-decoration: none; }
  .main-content > h3 {
    margin-top: 40px; }
  .main-content > table {
    width: 100%;
    padding: 0px 1% 0px 1%;
    border-radius: 0.35em; }
    .main-content > table #HeaderColumn td {
      color: #808080;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-weight: bold; }
    .main-content > table td {
      font-family: serif;
      padding: 1%;
      border-bottom: 1px solid #c1c1c1; }
    .main-content > table td.mid {
      background: #eef7ee;
      border-radius: 0.35em; }
    .main-content > table td.first-column {
      padding-right: 5%; }

/*
-------------------------------------------------
form styling
-------------------------------------------------
*/
form {
  width: 440px; }
  form > div.first {
    margin-top: 0px; }
  form > div {
    margin-top: 40px; }
    form > div > input {
      margin: auto;
      border: none;
      outline: none;
      border-radius: 0.35em; }
    form > div > label {
      display: block;
      float: left;
      width: 80px;
      line-height: 30px;
      overflow: hidden; }
    form > div > label.long {
      line-height: normal; }
    form > div > input[type="password"],
    form > div > input[type="email"] {
      width: 195px;
      height: 30px;
      line-height: 30px;
      padding-left: 5px;
      border: 1px solid #c1c1c1; }
    form > div > input[type="password"]:focus,
    form > div > input[type="email"]:focus {
      border: 1px solid #5a7d7e;
      background: none; }
    form > div > input[type="submit"] {
      width: 200px;
      height: 40px;
      line-height: 40px;
      background: #0a6766;
      margin-left: 80px;
      cursor: pointer;
      color: #fafafa;
      font-size: 16px;
      font-family: "Trebuchet MS", Helvetica, sans-serif; }
    form > div > input[type="submit"]:hover,
    form > div > input[type="submit"]:focus {
      background: #3d6364; }
  form .error-message {
    display: block;
    color: #a8554a; }
    form .error-message > ul {
      list-style: none; }

/*# sourceMappingURL=style.css.map */
