{% extends "home/base_template.html" %}
{% load app_filters %}
{% block title %}login{% endblock %}

{% block mid-link %}<a href="/">cape mosphere</a>{% endblock %}
{% block right-link %}<a class="active" href="#">log in</a>{% endblock %}

{% block main-content %}
	<form action="/my-account/login/" method="post">
		{% csrf_token %}
		
		{% if invalid_credentials %}
			<span class="error-message">invalid credentials</span><br/>
		{% endif %}
		<div class="first">
			<label for="email">email</label>
			{{ form.email }}
			<div style="clear:both;"></div>
			<span class="error-message">{{ form.email.errors }}</span>
		</div>
		<div>
			<label for="pword">password</label>
			{{ form.password|make_PasswordInput }}
			<div style="clear:both;"></div>
			<span class="error-message">{{ form.password.errors }}</span>
		</div>
		<div>
			<input type="submit" value="log in"/>
		</div>
	</form>
{% endblock %}
