{% extends "home/base_template.html" %}
{% load app_filters %}
{% block title %}sign up{% endblock %}

{% block left-link %}<a class="active" href="#">sign up</a>{% endblock %}
{% block mid-link %}<a href="/">cape mosphere</a>{% endblock %}

{% block main-content %}
	<form action="/my-account/sign-up/" method="post">
		{% csrf_token %}
		
		{% if account_taken %}
			<span class="error-message">account already exists</span><br/>
		{% endif %}
		<div class="first">
			<label for="email">email</label>
			{{ form.email }}
			<div style="clear:both;"></div>
			<span class="error-message">{{ form.email.errors }}</span>
		</div>
		<div>
			<label for="pword">password</label>
			{{ form.password|make_PasswordInput }}
			<div style="clear:both;"></div>
			<span class="error-message">{{ form.password.errors }}</span>
		</div>
		<div>
			<label class="long" for="pword">password<br/>again</label>
			{{ form.password_again|make_PasswordInput }}
			<div style="clear:both;"></div>
			<span class="error-message">{{ form.password_again.errors }}</span>
		</div>
		<div>
			<input type="submit" value="sign up"/>
		</div>
	</form>
{% endblock %}