{% extends "home/base_template.html" %}
{% block title %}success{% endblock %}

{% block left-link %}<a class="active" href="#">sign up</a>{% endblock %}
{% block mid-link %}<a href="/">cape mosphere</a>{% endblock %}

{% block main-content %}
	Hi there<br/>
	you account has been successfully created - feel free to <a href="/my-account/login/">login</a>
{% endblock %}