{% extends "home/base_template.html" %}
{% load staticfiles %}
{% block title %}forecast{% endblock %}

{% block left-link %}<a href="#" onclick="alert('you do not have enough data to download the app')">get app</a>{% endblock %}
{% block right-link %}<a href="/my-account/logout/">log out</a>{% endblock %}

{% block main-content %}
	<img id="preloader" src="{% static 'forecast/Images/preloader.gif' %}" />
	<center>
		hey there <b>{{ user.email }}</b><br/>
		the database has been populated with demo data<br/>
		<a href="/forecast/weather-records/">continue anyway</a>
	</center>
{% endblock %}