{% extends "home/base_template.html" %}
{% load staticfiles %}
{% block title %}forecast{% endblock %}

{% block left-link %}<a href="#" onclick="alert('you do not have enough data to download the app')">get app</a>{% endblock %}
{% block mid-link %}<a href="/forecast/">cap mosphere</a>{% endblock %}
{% block right-link %}<a href="/my-account/logout/">log out</a>{% endblock %}

{% block main-content %}
<div id="pagination-div">
	{% if weather_records.has_previous %}
		<a href="?page={{ weather_records.previous_page_number }}">previous</a>
	{% endif %}
		<a class="active" href="#">page {{ weather_records.number }} of {{ weather_records.paginator.num_pages }}</a>
	{% if weather_records.has_next %}
		<a href="?page={{ weather_records.next_page_number }}">next</a>
	{% endif %}
</div>
<br/>
{% for record in weather_records %}
	<h3>{{ record.date }}</h3>
	<table>
		<tr id="HeaderColumn">
			<td class="first-column">min-temp</td>
			<td>{{ record.min_temp }}</td>
		</tr>
		<tr>
			<td class="first-column">max-temp</td>
			<td>{{ record.max_temp }}</td>
		</tr>
		<tr>
			<td class="mid first-column">rain</td>
			<td class="mid">{{ record.rain }}</td>
		</tr>
		<tr>
			<td class="first-column">wind</td>
			<td>{{ record.wind }}</td>
		</tr>
	</table>
{% endfor %}
{% endblock %}
